
			div 
			{
				display:  block; 
				width: 800px; 			
			}
			
			body 
			{ 
				background-color: white; 
				color: darkgray; 
			} 
		    
			footer 
			{
				background-color: black; 
				font-size: 10px; 
				color: white; 
				text-align: right;
			}
			
			h1
			{
				font-size:48px; 
			} 
			
			a:link, a:visited 
			{
				background-color: darkred;
				color: Gold;
				text-align: center;
				text-decoration: none;
				display: inline-block;
			}
			 
			
			input[type=text] 
			{ 
			
			float:left; 
			width:400px;
			left:25px; 
			} 
			input[type=email] 
			{
				float:left; 
			width:400px;
			left:25px; 
			} 
			span 
			{
			color:red;
			} 
			
			.form_ta
			{
				float:left; 
				width:400px;
				left:25px; 
			}
			.prod_pic
			{
				width:200px;
				height:200px;
				display: block;
			}
			label 
			{
				float:left; 
				width:190px;
				left:25px; 
			} 
			.submit 
			{
				float:left ;
				margin-left:190px;
				background-color: darkred; 
				color: gold; 
			}
			
			.bestel
			{
				float:left;
				margin-left:75px; 
			}
			ul 
			{
				list-style-type: none;
				margin: 0;
				padding: 0;
				overflow: hidden;
				background-color: #333;
			}

			li 
			{
				float: left;
			}

			li a 
			{
				display: block;
				color: white;
				text-align: center;
				padding: 14px 16px;
				text-decoration: none;
			}

			a:hover:not(.active) 
			{
				background-color: #111;
			}

			.active
			{
				background-color:#4CAF50;
			}